<%- partial('_partial/head') %>

<body>
  <div id="container">
    <div id="wrap">
      <header id="header"  class="open"><%- partial('_partial/header') %></header>
      <nav id="mobile-nav" class="off"></nav>
      <div class="outer open">

        <aside id="sidebar" class="alignright"><%- partial('_partial/sidebar', {}, {cache: true}) %></aside>
        <section id="main" class="mdl-shadow--2dp"><%- body %></section>
        <div class="clearfix"></div>
      </div>
      <footer id="footer" class="open"><%- partial('_partial/footer') %></footer>
        <%- partial('_partial/after_footer') %>
    </div>
  </div>
</body>
</html>
